.letter-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.letter-item {
    border: 5px solid #008888;
    background-color: grey;
    margin: 5px;
    padding: 10px;
    max-width: 30vw;
    min-height: 30vh;
    color: white;
    cursor: pointer;
    text-align: left;
}

.letter-item.claimed {
    border: 5px solid black;
    background-color: black;
}

.letter-item:hover {
    border: 5px solid #ccc;
    background-color: #444;
}

.break-word {
      word-wrap: break-word;
}
