.letter-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.letter-item {
    border: 5px solid #008888;
    background-color: grey;
    margin: 5px;
    padding: 10px;
    width: 30vw;
    min-height: 30vw;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 0.7em;
}

.letter-item.claimed {
    border: 5px solid black;
    background-color: black;
}

.letter-item:hover {
    border: 5px solid #ccc;
    background-color: #444;
}

.letter-inner {
    padding: 5px;
    color: cyan;
}

.break-word {
      word-wrap: break-word;
}

.grapheme {
    color: #44FF88;
    font-family: monospace;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -2px;
    margin-bottom: 0;
}

